#myModal {
  width: 200px; height: 55px;
  margin: 0 auto;
  padding: 18px 9px;
  border-radius: 4px;
  background: #ff481f ;
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: auto;
  display: none;
  transition: displey 2s;
  opacity: 0;
  z-index: 38;
  text-align: center;
}
#myModal #myModal__close {
  width: 21px; height: 21px;
  position: absolute;
  top: 1px; right: 11px;
  cursor: pointer;
  display: block;
  font-size: 29px;
}