{% extends 'finder/main.html' %}
{% block title %}
    <title>Favorites</title>
{% endblock %}
{% block content %}
    <table>
        <th>Poster</th>
        <th>Title</th>
        <th>Type</th>
        <th>Year</th>
        {% for movie in favorite_movies %}
            <tr>
                <td><img src="{{ movie.poster }}" alt="Oops.." style="width: 150px"></td>
                <td>
                    <a href="https://www.imdb.com/title/{{ movie.imdbID }}/">{{ movie.title }}</a>
                    <form class="del_favorite" method="post">
                        {% csrf_token %}
                        <input id="delete-fav" class="delete_from_favorite" type="submit"
                               value="Delete from favorites"/>
                        <input type="hidden" name="movie_from_favorites" value="{{ movie }}"/>
                    </form>
                </td>
                <td>{{ movie.type }}</td>
                <td>{{ movie.year }}</td>
            </tr>
        {% endfor %}
    </table>
    <div id="myModal">
        <p id="del_mov">Movie deleted</p>
        <span id="myModal__close" class="close">&#9766;</span>
    </div>
    <div id="myOverlay"></div>
{% endblock %}