{% extends 'finder/main.html' %}
{% block title %}
    <title>Movie Finder</title>
{% endblock %}

{% block content %}
<table >
    <tr>
        <th>Pictures</th>
        <th>Name</th>
        <th>Actors</th>
        <th>Description</th>
    </tr>
    {% for movie in movies %}
    <tr>
{#        <td><img src="{{ movie.banner_film }}" alt=""></td>#}
        <td><img src="../../static/finder/img/film2.jpg" alt="" style="width: 150px"></td>
        <td>{{ movie }}</td>
        <td>{% for actor in movie.actors.all %} {{ actor }} {% endfor %}</td>
        <td></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}