{% extends 'finder/main.html' %}
{% block title %}
    <title>Movie Finder</title>
{% endblock %}

{% block content %}

    {% for message in messages %}
        {{ message }}<br>
    {% endfor %}
    <table>
        <tr>
            <th>Pictures</th>
            <th>Name</th>
            <th>Type</th>
            <th>Year</th>
        </tr>
        {% for movie in movies %}
            <tr>
                <td><img src="{{ movie.Poster }}" alt="Oops.." style="width: 150px"></td>
                <td>
                    <a href="https://www.imdb.com/title/{{ movie.imdbID }}/">{{ movie.Title }}</a>
                    <form class="favorite" method="post">
                        {% csrf_token %}
                        <input class="add_to_favorite" type="submit" value="Add to favorites"/>
                        <input type="hidden" name="movie_to_favorites" value="{{ movie }}"/>
                    </form>
                </td>
{#                <td>{% for actor in movie.actors.all %} {{ actor }} {% endfor %}</td>#}
                <td>{{ movie.Type }}</td>
                <td>{{ movie.Year }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}