html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/fon.jpg");
    background-size:cover;
}

h1 {
    text-align: center;
}
table {
    border: 4px solid orange;

    text-align: center;
    margin: 50px auto;
    background: antiquewhite;
}

td, th {
    border: 1px solid orange;
    width: 400px;

}



/*login_page*/

.login_page form {
    margin-top: 100px;
    text-align: center;
}
.login_page table {
    border: 0;
    background: none;
}
.login_page td {
    border: 0;
    width: auto;
    padding: 5px;
}

INPUT[type="text"] {
    background-color: navy;
    color: #ffe;
   }
INPUT[type="text"]:focus {
    background: red;
}
INPUT[type="submit"] {
    margin-top: 10px;
   }
.login_page .res_password {
    text-align: center;
    color: darkgray;
}
label {
    font-size: 25px;
    color: #ff5f12;

}
/*navigator of site*/
.bg-light {
    background: orange !important;
}
.navbar-light .navbar-nav .nav-link {
    color: black !important;
}
.navbar-light .navbar-nav .nav-link:hover {
     color: wheat !important;
}



