html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    background-image: url("../img/fon.jpg");
    background-size: cover;

    background-position: center;
    background-attachment: fixed;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px !important;
    overflow: auto;
}

h1 {
    text-align: center;
}

table {
    border: 4px solid orange;
    text-align: center;
    margin: 50px auto;
    background: antiquewhite;
}

td, th {
    border: 1px solid orange;
    width: 200px;

}
